@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@theme {
	/* Primary colors */
	--color-primary-100: oklch(0.25 0.35 310);
	--color-primary-200: oklch(0.35 0.32 315);
	--color-primary-300: oklch(0.55 0.35 305);
	--color-primary-400: oklch(0.65 0.28 305);
	--color-primary-500: oklch(0.75 0.22 305);
	--color-primary-600: oklch(0.85 0.15 305);

	/* Secondary colors */
	--color-secondary-50: oklch(0.16 0 0);
	--color-secondary-100: oklch(0.18 0 0);
	--color-secondary-200: oklch(0.21 0 0);
	--color-secondary-300: oklch(0.26 0 0);
	--color-secondary-400: oklch(0.32 0 0);
	--color-secondary-500: oklch(0.38 0 0);
	--color-secondary-600: oklch(0.65 0 0);
}
